<!-- Start component model -->
			{method}
<!-- End component model -->
<form method="post">
	<input type="hidden" name="method" value="post">
	<input type="submit" value="post">
</form>
<form method="post">
	<input type="hidden" name="method" value="get">
	<input type="submit" value="get">
</form>
<form method="post">
	<input type="hidden" name="method" value="put">
	<input type="submit" value="put">
</form>
<form method="post">
	<input type="hidden" name="method" value="delete">
	<input type="submit" value="delete">
</form>
