<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<link rel="stylesheet" href="{=BASEPATH}/templates/system/components/admin/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="{=BASEPATH}/templates/system/components/admin/css/print.css" type="text/css" media="print">
<link rel="stylesheet" href="{=BASEPATH}/templates/system/components/admin/css/phone.css" type="text/css" media="handheld">
<title>{@Administration} - Magic Potion</title>
</head>
<body>
<div id="container">
	<div id="header">
	
		<div id="logo">
			<h1><img src="{=BASEPATH}/templates/system/components/admin/img/flask.png" alt="Magic Potion" />
			{@Administration} - Magic Potion</h1>
		</div>
		<nav id="menu">
			{menu}
		</nav>
		<div id="actions">
			{actions}
		</div>
	</div>
	<div id="main">
		<div id="navigator">
			{navigator}
		</div>
		<h2>{title}</h2>
		<div id="content">
			{content}
		</div>
	</div>

<div id="copyright">{=COPYRIGHT} Template by xles.</div>
</div>
</body>
</html>


