<ul>
	<li><a href="#">File</a>
		<ul>
			<li><a href="{~admin/file/save}"><img src="{=BASEPATH}/templates/system/components/admin/img/floppy_disk.png" alt="Save">Save</a></li>
			<li class="separator"></li>
			<li><a href="{~admin/file/users}"><img src="{=BASEPATH}/templates/system/components/admin/img/users_two.png" alt="Save">User Manager</a></li>
			<li><a href="{~admin/file/media}"><img src="{=BASEPATH}/templates/system/components/admin/img/image.png" alt="Save">Media Manager</a></li>
			<li class="separator"></li>
			<li><a href="{~logout}" onclick="return confirm('Logout and exit without saving?')" class="red"><img src="{=BASEPATH}/templates/system/components/admin/img/accepted.png" alt="Save">Logout and exit</a></li>
		</ul>
	</li>
	<li><a href="#">Site</a>
		<ul>
			<li><a href="{~admin/site/control}"><img src="{=BASEPATH}/templates/system/components/admin/img/app.png" alt="Save">Control Panel</a></li>
			<li class="separator"></li>
			<li><a href="{~admin/site/users}"><img src="{=BASEPATH}/templates/system/components/admin/img/users_two.png" alt="Save">User Manager</a></li>
			<li><a href="{~admin/site/media}"><img src="{=BASEPATH}/templates/system/components/admin/img/image.png" alt="Save">Media Manager</a></li>
			<li class="separator"></li>
			<li><a href="{~admin/site/config}"><img src="{=BASEPATH}/templates/system/components/admin/img/spanner.png" alt="Save">Global Configuration</a></li>
		</ul>
	</li>
	<li><a href="#">Menus</a>
		<ul>
			<li><a href="{~admin/menus/}">Menu Manager</a></li>
			<li><a href="{~admin/menus/}">Menu Trash</a></li>
			<li class="separator"></li>
			<li><a href="{~admin/menus/}">Main Menu *</a></li>
			<li><a href="{~admin/menus/}">User Menu</a></li>
			<li><a href="{~admin/menus/}">Top Menu</a></li>
			<li><a href="{~admin/menus/}">Resources</a></li>
			<li><a href="{~admin/menus/}">Example Pages</a></li>
			<li><a href="{~admin/menus/}">Key Concepts</a></li>
		</ul>
	</li>
	<li><a href="#">Content</a>
		<ul>
			<li><a href="{~admin/content/}">Article Manager</a></li>
			<li><a href="{~admin/content/}">Article Trash</a></li>
			<li class="separator"></li>
			<li><a href="{~admin/content/}">Section Manager</a></li>
			<li><a href="{~admin/content/}">Category Manager</a></li>
			<li class="separator"></li>
			<li><a href="{~admin/content/}">Front Page Manager</a></li>
			</ul>
	</li>
	<li><a href="#">Components</a>
		<ul>
			<li><a href="{~admin/components/}">Component Manager</a></li>
			<li class="separator"></li>
			<li><a href="{~admin/components/}">Banner</a>
				<ul>
					<li><a href="#">Banners</a></li>
					<li><a href="#">Clients</a></li>
					<li><a href="#">Categories</a></li>
				</ul>
			</li>
			<li><a href="{~admin/components/}">Contacts</a>
				<ul>
					<li><a href="#">Contacts</a></li>
					<li><a href="#">Categories</a></li>
				</ul>
			</li>
			<li><a href="{~admin/components/}">News Feeds</a>
				<ul>
					<li><a href="#">Feeds</a></li>
					<li><a href="#">Categories</a></li>
				</ul>
			</li>
			<li><a href="{~admin/components/}">Polls</a></li>
			<li><a href="{~admin/components/}">Search</a></li>
			<li><a href="#">Web Links</a>
				<ul>
					<li><a href="#">Links</a></li>
					<li><a href="#">Categories</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li><a href="#">Help</a>
		<ul>
			<li><a href="{~admin/help}">Online documentation</a></li>
			<li><a href="{~admin/sysinfo}">System Info</a></li>
		</ul>
	</li>
</ul>
